@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
    --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
    --mono: ui-monospace, Consolas, monospace;
  }

  body {
    margin: 0;
    font-family: var(--sans);
    color: #111315;
    background-color: #F3F5F7;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
